<!DOCTYPE html>
<html {{ html_attrs|default({})|xmlattr }}>
  {% block html %}
  <head>
    {% block head %}
    
    {% block metas %}{% endblock metas %}

    {% block fonts %}{% endblock fonts %}

    {% block favicons %}{% endblock favicons %}

    {% block styles %}{% endblock styles %}

    {% block prescripts %}
      {% if not session.get('tz', False) %}
        <script>
          var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
          var url = new URL(window.location.href);

          url.searchParams.set('tz', tz);
          window.location.replace(url);
        </script>
      {% endif %}
    {% endblock prescripts %}

    <title>{{ title|default('Document') }}</title>
    {% endblock head %}
  </head>
  <body {{ body_attrs|default({})|xmlattr }}>
    {% block body %}
    {% block content %}{% endblock content %}

    {% block scripts %}{% endblock scripts %}
    {% endblock body %}
  </body>
  {% endblock html %}
</html>