{% import 'partials/header.html' as header %}
{% import 'partials/footer.html' as footer %}

{% extends 'layouts/base.html' %}

{% set html_attrs = dict(lang='en') %}
{% set title = title|default('Document') + ' | La Loma Baptist Church' %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock metas %}

{% block fonts %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
{% endblock fonts %}

{% block favicons %}
  <link rel="icon" href="/static/assets/images/lbc-logo.ico">
{% endblock favicons %}

{% block styles %}
  <link rel="stylesheet" href="/static/plugins/bootstrap4/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/plugins/owlcarousel2/owl.carousel.min.css"/>
  <link rel="stylesheet" href="/static/plugins/owlcarousel2/owl.theme.default.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/preloader.css"/>
  <link rel="stylesheet" href="/static/assets/css/style.css"/>
{% endblock styles %}

{% block prescripts %}
  {{ super() }}
  
  <script src="/static/assets/js/preloader.js"></script>
{% endblock prescripts %}

{% block scripts %}
  <script src="/static/plugins/bootstrap4/jquery.slim.min.js"></script>
  <script src="/static/plugins/bootstrap4/popper.min.js"></script>
  <script src="/static/plugins/bootstrap4/bootstrap.min.js"></script>
  <script src="/static/plugins/holder/holder.min.js"></script>
  <script src="/static/plugins/owlcarousel2/owl.carousel.min.js"></script>
  <script src="/static/assets/js/main.js"></script>
{% endblock scripts %}

{% block content %}
  {% block preloader %}
    <div class="preloader"></div>
  {% endblock preloader %}

  <header id="siteHeader">
    {% block header %}
      {{ header.render() }}
    {% endblock header %}
  </header>

  <main id="siteMain">{% block main %}{% endblock main %}</main>

  <footer id="siteFooter">
    {% block footer %}
      {{ footer.render() }}
    {% endblock footer %}
  </footer>
{% endblock content %}