.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 1500;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
}

.preloader::after {
  content: "";
  width: 7rem;
  height: 7rem;
  border: 1.2rem solid #dddddd;
  border-top-color: #224277;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}