{% import 'partials/bulletin_post.html' as bulletin_post %}

{% macro render(models, limit) %}
  {% set dt_utcnow = utcnow() %}
  {% set BulletinPost = models.get('BulletinPost', None) %}
  {% set limit = limit|default(12) %}
  {% set post_query = BulletinPost.authorized_query().order_by(BulletinPost.created_at.desc()) %}
  {% set recent_posts = post_query.filter(BulletinPost.pinned_until >= dt_utcnow).all() %}
  {% set filter1 = BulletinPost.pinned_until < dt_utcnow %}
  {% set filter2 = BulletinPost.pinned_until == None %}
  {% set recent_posts = recent_posts + post_query.filter(filter1.__or__(filter2)).limit(10).all() %}

  <div class="container">
    <h1 class="text-center wow fadeInUp">Bulletin Board</h1>
    <hr class="mb-3">

    {% if recent_posts %}
      <div class="card-columns">
        {% for post in recent_posts %}
          {{ bulletin_post.render(post) }}
        {% endfor %}
      </div>
    {% else %}
      <div class="row">
        <div class="col">
          <h5 class="text-center text-muted">No items found.</h5>
        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}