{% macro render(models) %}
  {% set Event = models.get('Event', None) %}
  {% set dt_utcnow = datetime.utcnow() %}
  {% set dt_now = to_user_timezone(dt_utcnow) %}
  {% set month_cover_url = '/base/static/assets/images/calendar/cover-{}.jpg'.format(dt_now.strftime('%Y-%m')) %}

  {% set year = dt_utcnow.year %}
  {% set month = dt_utcnow.month %}
  {% set month_events = Event.get_all_by_month(month, year) %}

  <img class="img-fluid" src="{{ month_cover_url }}" alt="Calendar Cover">

  <div class="container-fluid">
    <div class="row">
      <div class="calendar-title p-4{{ ' col-12 col-md-6' if month_events|length % 2 == 1 else ' col-12' }}">
        <h1 class="text-white">{{ dt_now.strftime('%Y') }}</h1>
        <h2 class="text-warning">{{ dt_now.strftime('%B') }}</h2>
      </div>
      {% if month_events %}
        {% for event in month_events %}
          <div class="col-12 col-md-6 bg-light p-4 border">
            <h3>{{ event.title }}</h3>
            <ul class="list-unstyled">
              <li>
                <i class="bi bi-calendar-event mr-2"></i>
                {{ render_datetime(event.start_datetime, '%A, %b %d, %Y') if event.start_datetime else 'TBA' }}
              </li>
              {% if event.include_time %}
                <li>
                  <i class="bi bi-clock mr-2"></i>
                  {{ render_datetime(event.start_datetime, '%I:%M %p') if event.start_datetime else 'TBA' }}
                </li>
              {% endif %}
              <li>
                <i class="bi bi-geo-alt-fill mr-2"></i>
                {{ event.venue or 'TBA' }}
              </li>
            </ul>
            {% if event.short_description %}
              <p>{{ event.short_description }}</p>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endmacro %}